TESTING=False
DEBUG=False
REGISTRATION_DISABLED=True
FLASK_ENV='production'
SECRET_KEY='cretae your own key'
SESSION_COOKIE_SECURE=True

MAIL_SERVER='smtp.mailtrap.io'
MAIL_PORT=2525
MAIL_USERNAME=''
MAIL_PASSWORD=''
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_DEBUG=False

APP_URL='http://localhost'

DOWNLOAD_CONFIG_ENABLED=True
DOWNLOAD_KEY_ENABLED=True

EXPORT_PASSWORD='test'
