{% extends "_base.html" %}
{% block content %}
    <div class="content-subpage">

        <h2 class="content-head is-center">Change Password</h2>
        <div class="pure-g">
            <div class="pure-u-1 maxw-700 div-is-center">
                {% include '_message.html' %}
                <form class="pure-form pure-form-stacked" action="{{url_for('page_change_password')}}" method="post">
                    <fieldset>

                        <label for="password">Old Password</label>
                        <input id="password" name="password" type="password" placeholder="Your old Password">

                        <label for="password_new">New Password</label>
                        <input id="password" name="password_new" type="password" placeholder="Your new Password">

                        <button type="submit" class="pure-button">Change Password</button>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
{% endblock %}