{% extends "_base.html" %}
{% block content %}
<div class="content-subpage">

    <h2 class="content-head is-center"><i class="fa fa-question-circle"></i> FAQ</h2>
    <div class="pure-g">
        <div class="pure-u-1 maxw-1000 div-is-center">
            <h3 id="faq">Frequently Asked Questions</h3>
            <h4 >How to contact the organizers?</h4>
            <p>
                You can send an email to <a href="mailto:mail@enowars.com">mail@enowars.com</a> or find us in <a target="_blank" href="https://webchat.freenode.net/">#ENOWARS</a> on Freenode, or try <a href="https://twitter.com/enoflag" target="_blank"> Twitter</a>!
                We won't give you any information or hints on the challenges, though ;-)
            </p>
            <h4>Who organizes this CTF?</h4>
            <p>
                Team <a href="https://enoflag.de">ENOFLAG</a> and students from <a href="https://www.isti.tu-berlin.de/security_in_telecommunications/menue/overview/">SecT</a> at TU Berlin.
            </p>
            <h4>What is an Attack-Defense CTF?</h4>
            <p>
                See <a href="information.html">Information</a>.
            </p>
            <h4>Do I need to host my own vulnbox?</h4>
            <p>
                NO! This year we will host the vulnboxes for all teams!
            </p>
            <h4>How is the VPN realized?</h4>
            <p>
	    	Details tbd.
                When logged in, you can download your vpn config file <a href="downloads.html">here</a>.
            </p>
            <h4>Where do I download the vulnbox or other files?</h4>
            <p>
                When logged in, you can download all files you need <a href="downloads.html">here</a>.
            </p>
            <h4>What is the FLAG format?</h4>
            <p>
	    	Look out for the <i>string</i> "ENOWARS" ;) Also, did you here about unicode?
            </p>
            <h4>Where do I find the scoreboard?</h4>
            <p>
                <a href="http://scoreboard.enowars.com" target="_blank">scoreboard.enowars.com</a>
            </p>
        </div>
    </div>

</div>
{% endblock %}
