{% extends "_base.html" %}
{% block content %}
<div class="splash-container">
    <div class="splash-spacer">
    </div>
    <div class="splash">
        <h1 class="splash-head glitch justify">E N O W A R S 4</h1>
        <h1 class="splash-subhead justify text-shuffle">Online Attack / Defense CTF competition</h1>
        <h1 class="splash-subhead justify text-shuffle">18th of July 2020 / 12:00 - 22:00 UTC</h1>
        <h1 class="splash-subhead justify text-shuffle" id="hide-after-shuffle">Hosted by ENOFLAG and SecT of TU Berlin</h1>
        <h1 class="splash-subhead justify" id="show-after-shuffle" style="display: none;">Hosted by <a href="https://enoflag.de" target="_blank">ENOFLAG</a> and <a href="https://www.isti.tu-berlin.de/security_in_telecommunications/" target="_blank">SecT</a> of TU Berlin</h1>
    </div>
    <div class="arrow-container">
    <a href="#content"><i class="fa fa-arrow-down custom-arrow"></i></a>
    </div>
</div>

<div class="logo" id="shuffler">
    <a href="https://enoflag.de" target="_blank"><img width="100%" src="img/enoflag.png"></a>
</div>

<div id="content" class="content-wrapper">
    <div class="content">

        <h2 class="content-head is-center"><i class="fas fa-newspaper"></i> News</h2>
        <h3 class="content-head">2020-06-20 <i class="fa fa-file-signature"></i> Registration is open now.</h3>

        <div id="twitter_feed" class="div-is-center" style="max-width: 800px; display: none; margin-top: 50px; text-align: center;">
            <a class="twitter-timeline" data-height="1000" data-dnt="true" data-theme="dark" href="https://twitter.com/ENOFLAG?ref_src=twsrc%5Etfw" style="background: white; color: #7f8c8d;"><i class="fas fa-spinner fa-spin"></i></a>
        </div>
        <div style="text-align: center; margin-top: 50px;">
            <button onclick="load_twitter_feed(event)" title="This will enable twitter tracking">Load twitter feed</button>
            <i id="twitter_loading" class="fas fa-spinner fa-spin"></i>
        </div>

    </div>
    <div class="ribbon l-box-lrg">
        <h2 class="content-head content-head-ribbon is-center"><i class="fa fa-user-plus"></i> Supported by</h2>

        <div class="pure-g justify-content">
            <div class="l-box-lrg pure-u-1 pure-u-lg-2-3 pure-u-xl-1-2 justify-content ">
                <div class="is-center" id="sponsors">
                    <a href="https://www.isti.tu-berlin.de/security_in_telecommunications/menue/overview/" target="_blank" style="background-color: transparent">
                    <img src="img/sect.png" class="hvr-wobble-top" alt="sect logo" height="100vw">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center"><i class="fa fa-book-dead"></i> Storyline</h2>
        <!-- <h3 class="content-head text-shuffle2">Some text.</h3> -->
        <!-- <h3 class="content-head text-shuffle2">Even more text.</h3> -->
    </div>

    <div class="ribbon l-box-lrg">
        <h2 class="content-head content-head-ribbon is-center"><i class="fa fa-question-circle"></i> WTF is Attack / Defense CTF?</h2>

        <div class="pure-g justify-content">
            <div class="l-box-lrg pure-u-1 pure-u-lg-2-3 pure-u-xl-1-2 justify-content">
                <div class="iframe-container">
                    <iframe src="https://www.youtube-nocookie.com/embed/RkaLyji9pNs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p>Thanks to <a href="https://liveoverflow.com/" target="_blank">LiveOverflow</a> for sharing this video with us.</p>
            </div>
        </div>
    </div>


    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <a href="https://enoflag.de" target="_blank" style="background: black;"><img width="300" alt="File Icons" class="pure-img-responsive spinning" src="img/enoflag.png"></a>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon"><i class="fa fa-flag"></i> Host</h2>
            <h3 class="content-head content-head-ribbon"><a href="https://enoflag.de" target="_blank">ENOFLAG</a></h3>

            <p>
                CTF-Team & Workgroup for Computer Security at the TU Berlin<br>
                <br>
            </p>
            <h3 class="content-head content-head-ribbon"><i class="fa fa-envelope"></i> Contact</h3>
            IRC: <a href="https://webchat.freenode.net/">#ENOWARS on freenode</a>
            <br>
            <br>
            MAIL: <a href="mailto:mail@enowars.com">mail@enowars.com</a><br>
            <br>
            <br>
            <br>
        </div>
    </div>
    {% include '_footer.html' %}
</div>
<script src="js/text-shuffle.js"></script>
<script>
    var twitter_observer = new MutationObserver(function(mutations) {
        for(var mutation of mutations) {
            if (mutation.removedNodes) {
                document.getElementById("twitter_loading").style.display = 'none';
                document.getElementById("twitter_feed").style.display = 'block';
            }
            console.log(mutation);
        }
    });
    twitter_observer.observe(document.getElementById('twitter_feed'), {childList: true})
    function load_twitter_feed() {
        event.target.style.display = 'none';
        document.getElementById("twitter_loading").style.display = 'block';
        var s = document.createElement('script');
        s.setAttribute('src', 'https://platform.twitter.com/widgets.js');
        s.setAttribute('charset', 'utf-8');
        document.body.appendChild(s);
    }
</script>
{% endblock %}
