{% extends "_base.html" %}
{% block content %}
<div class="content-subpage">

    <h2 class="content-head is-center"><i class="fa fa-gavel"></i> Rules</h2>
    <div class="pure-g">
        <div class="pure-u-1 maxw-1000 div-is-center">
            <h3>We'll all survive if we stick to some rules...</h3>
            <h4>Rule #1: DO NOT ATTACK THE INFRASTRUCTURE</h4>
            <p>
                We are all humans (even students) and we all make mistakes...

                Do not exploit any bug you discovered in the infrastructure. Rather report it to the <a href="faq.html#faq">organizers</a>. We reserve the right to award exclusive bonus points depending on the bug and its severity.
            </p>
            <h4>Rule #2: NO (D)DOS</h4>
            <p>
                Extensive bandwidth usage and/or attacks leading to the DoS of other teams or the infrastructure will be punished with a permanent ban. 

                You will not win using this kind of attacks.
            </p>
            <h4>Rule #3: Prices</h4>
            <p>
               There will be a <strong>512€</strong> reward for the first place!
            </p>
            <h4>Rule #4: The scoring formula</h4>
            <p>
                We are currently using the scoring formula by <a href="https://2019.faustctf.net/information/rules/">Faust CTF</a>.
                Thanks alot for making that public.
            </p>
            <h4>Rule #5: Escape Clause</h4>
            <p>
                We preseve the right to change any rule, mode of competition, or simply anything about this event in any way. 
            </p>
            <h4>Rule #6: Flag submission</h4>
            <p>
                You can submit your flags at <strong>fd00:1337::1337</strong> on port <strong>1337</strong>.
            </p>
        </div>
    </div>

</div>
{% endblock %}